* {
  box-sizing: border-box;
  font-family: "Gotham", Arial, Helvetica, sans-serif;
}

.container {
  width: 100%;

}

.btn__bar {
  width: 100%;
  margin: 0 auto 10px;
  position: relative;
}


.btn__bar:after{
  content: "";
  display: block;
  position: absolute;
  z-index: 0;
  top: 10px;
  width: 100%;
  height: 1px;
  background: #DDD;
  margin-top: 5px;
}

.btn__bar span, .btn {
  display: inline-block;
  font-weight: bold;
  position: relative;
  background: white;
  color: #777;
  z-index: 1;
  vertical-align: middle;
}
.btn__bar span {
  top: 5px;
  text-transform: uppercase;
}

.btn__container {
  display: inline-block;
  position: absolute;
    right: 0;
}
@media screen and (max-width: 767px){
  .btn__bar {
    text-align: center;
  }
  .btn__container {
    display: block;
    position: relative;
    margin: 20px auto 0;
  }
  .btn {
    position: absolute;
  }
  .btn--prev { left: 10px; }
  .btn--next { right: 10px;   border-left: 1px solid #d5d5d5; }
}

.btn {
  font-size: 22px;
  text-align: center;
  cursor: pointer;
  height: 30px;
  width: 30px;
}
.btn--prev {
  border-top: 1px solid #d5d5d5;
  border-left: 1px solid #d5d5d5;
  border-right: 1px solid #d5d5d5;
  border-bottom: 1px solid #d5d5d5;
  border-radius: 3px 0px 0px 3px;
}

.btn--next {
  border-top: 1px solid #d5d5d5;
  border-right: 1px solid #d5d5d5;
  border-bottom: 1px solid #d5d5d5;
  border-radius: 0px 3px 3px 0px;
}

.carousel__container {
  width: 65%;
  margin: 0 auto;
  overflow: hidden;
}

.carousel {
  width:200%;
  position: relative;
  left: -300px;
  height: 190px;
  overflow: hidden;
  left: 0;
  top: 0;
  margin: 0;
  padding: 0;
}

.carousel__item.fadein {
  opacity: 1;
}

.carousel__item {
  opacity: 0;
  transition: opacity 1s ease-in-out;
  display: inline-block;
  vertical-align: top;
  color: #eb252e;
  font-weight: bold;
  padding: 10px 0;
  height: 190px;
  width: 300px;
  list-style: none;
  margin: 0 10px;
}
@media screen and (max-width: 1024px){
  .carousel__item {
    width: 234px;
    margin: 0 5px;
  }
}
@media screen and (max-width: 767px){
  .carousel {
    margin: 50px 0 0;
  }
  .carousel__item {
    width: 300px;
    margin: 0 5px;
  }
}
  @media screen and (max-width: 320px){
    .carousel__item {
      width: 250px;
      margin: 0 5px;
    }
}
.carousel__item h2{
  text-transform: uppercase;

  font-size: 11px;
}



.results {
    margin-top: 10px;
}
.runner {
  width: 100%;
  position: relative;
  overflow: hidden;
  background-color: grey;
  padding: 5px;
  font-size: 12px;
  color: white;
  font-weight: 600;
}
.runner .name {
  display: inline-block;
  position: relative;
  left: 0;
  width: 70%;
  z-index: 2;
}
.votes {
  width: 30%;
  position: relative;
  text-align: right;
  display: inline-block;
  font-style: italic;
  font-size: 12px;
  font-weight: normal;
  z-index: 2;
}
.votes .count {
  font-size: 10px;
}
.runner .bg {
  background-size: cover;
  opacity: 0.45;
  width: 100%;
  top: 0px;
  height: 100%;
  z-index: 1;
  position: absolute;
  background-repeat: no-repeat;
}
.runner.lib {
  background-color: #D71920;
}
.runner.lib .bg {
  background-image: url('/static/images/liberal.png');
  background-position: 60px -35px;
  background-size: 145px;
}
.runner.pc {
  background-color: #0C499C;
}
.runner.pc .bg{
  background-image: url('/static/images/conservative.png');
  background-position: 120px -10px;
background-size: 40px;
}
.runner.ndp {
  background-color: #F37021;
}
.runner.ndp .bg{
  background-image: url('/static/images/ndp.png');
  background-position: 69px -9px;
  background-size: 155px;
}
.runner.grn {
  background-color: #56A84F;
}
.runner.grn .bg{
  background-position: 71px -7px;
  background-size: 158px;
  background-image: url('/static/images/green.png');
}
